<div>
<div class="tota11y-info-about-title">
    <a
            href="https://www.w3.org/TR/WCAG21/#text-alternatives"
            target="_blank" class="tota11y-info-link">
        <span class="tota11y-info-about-title-link">
            WCAG &sect; 1.1.1 (Level A)
        </span>
    </a>
</div>
<p>
    Visual and audio information is not accessible to all users. Text
    alternatives to audiovisual information can provide blind, deaf, hard of
    hearing, and other users with access to the same information.
</p>
<p>
    The Web Content Accessibility Guidelines list this criteria at the lowest
    level of conformance and as first in the guidelines.
    Providing alt text on all images is a good starting place.
</p>
</div>
