<p>
    This image does not have an associated "alt" attribute.
    Please specify a short alt text for this image like so
    to convey the same information textually:
</p>

<pre><code>&lt;img src={{src}} alt="Image description"&gt</code></pre>

<p>
    If the image is decorative and does not convey any
    information to the surrounding content then you should
    leave this "alt" attribute empty, or specify a "role"
    attribute with a value of "presentation" so assistive
    technologies can ignore the image.
</p>

<pre><code>&lt;img src={{src}} alt=""&gt;
&lt;img src={{src}} role="presentation"&gt;</code></pre>

<p>
    Extended text descriptions can be provided using <a
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-describedby_attribute"
            target="_blank" class="tota11y-info-link">
        aria-describedby
    </a>
</p>
