<p>
    This <code>&lt;{{elementName}}&gt;</code> element does not have an
    audio description. You should provide an audio description with <a
            href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track"
            target="_blank" class="tota11y-info-link">
        the track element
    </a> using <code>kind="descriptions"</code> which will users to access
    timed text alternatives to visual content in media. Audio descriptions
    should include as much meaningful visual information as possible during
    pauses in existing dialogue such as scene changes or on-screen text that
    is not spoken in the main soundtrack.
</p>
<p>
    Audio descriptions are important for blind or visually impaired users
    who cannot see visual information to access the full content of videos.
</p>
<p>
    If all the information in video is already provided in the audio of the
    media then no audio description is neccessary.
</p>
<div class="tota11y-info-resources">
    <p>
        Resources
    </p>
    <ul>
        <li>
            <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track"
                    target="_blank" class="tota11y-info-link">
                The track element
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#audio-description-or-media-alternative-prerecorded"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 1.2.3 (Level A)
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#audio-description-prerecorded"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 1.2.5 (Level AA)
            </a>
        </li>
    </ul>
</div>
