<p>
    This <code>&lt;{{elementName}}&gt;</code> element does not have any
    captions. You should provide captions with <a
            href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track"
            target="_blank" class="tota11y-info-link">
        the track element
    </a> using <code>kind="captions"</code> which will allow users to access
    timed text alternatives to audio. Captions should include as much meaningful
    audio information as possible, not just what is said but who is speaking
    and sound descriptions.
</p>
<p>
    Captions are important for deaf users and users who cannot listen
    to audio in their current context to access the full content of videos.
</p>
<p>
    Captions are not neccessary when the media is an alternative for text and
    users can read the text instead.
</p>
<div class="tota11y-info-resources">
    <p>
        Resources
    </p>
    <ul>
        <li>
            <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track"
                    target="_blank" class="tota11y-info-link">
                The track element
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#captions-prerecorded"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 1.2.2 (Level A)
            </a>
        </li>
    </ul>
</div>
