<div class="tota11y-info-about-title">
    <a
            href="https://www.w3.org/TR/WCAG21/#info-and-relationships"
            target="_blank" class="tota11y-info-link">
        <span class="tota11y-info-about-title-link">
            WCAG &sect; 1.3.1 (Level A)
        </span>
    </a>
</div>
<p>
    Tables can provide a lot of information and relationships from
    correctly used markup that might otherwise only be available from visual
    presentation.
</p>
<p>
    This tool checks for a number of table markup errors and ommisions such as
    providing headers for each cell which allows screen readers to vocalise the
    headers of each cell as a user navigates through a table.
</p>
<p>
    <a
            href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html"
            target="_blank" class="tota11y-info-link">
        Understanding Info and Relationships
    </a>
</p>
<p>
    <a
            href="https://www.w3.org/WAI/WCAG21/Techniques/html/H51"
            target="_blank" class="tota11y-info-link">
        Using table markup to present tabular information
    </a>
</p>
