<div class="tota11y-info-about-title">
    <a
            href="https://www.w3.org/TR/WCAG21/#label-in-name"
            target="_blank" class="tota11y-info-link">
        <span class="tota11y-info-about-title-link">
            WCAG &sect; 2.5.3
        </span>
    </a>
</div>
<p>
    Users that navigate by speech commands and / or text to speech will
    have a better experience if the visual text that labels an element (not
    just the <code>&lt;label&gt;</code> element) is the same as, or contained
    in the programmatic label of the element. This programmatic label (also
    known as the accessible name) includes text that is not presented visually
    such as ARIA. Preferably the programmatic label should be the same as the
    visual label or should start with the visual label.
</p>
<blockquote><p>
    Speech input users can navigate by speaking the visible text labels of
    menus, links and buttons that appear on the screen. It’s confusing to
    speech input users when they say a visible text label they see, but the
    speech input does not work because the accessible name that is enabled as
    a speech input command does not match the visible label.

    In addition, when the accessible name is different from the visible label,
    it essentially becomes an unknown hidden command for speech input users
    that can be accidentally activated without the user knowing what has
    happened.

    Text-to-speech users will also have a better experience if the text they
    hear matches the text they see on the screen.

    This issue is even more important for speech input and text-to-speech users
    who also have cognitive challenges. It’s an extra cognitive load for a
    speech input user to remember and say a speech command that is different
    from the visible label they see on a control. It’s also an extra cognitive
    load for a text-to-speech user to absorb and understand speech output that
    does not match the visible label.
    <cite>
        W3C
    </cite>
</p></blockquote>
<p>
    <a href="https://www.w3.org/WAI/WCAG21/Understanding/label-in-name.html"
            target="_blank" class="tota11y-info-link">
        Further information from the Web Content Accessibility Guidelines
    </a>
</p>
