<p>
    Meta information in HTML documents that are not visually seen on a page
    can still be important for navigation, favicons and page titles are shown
    in tabs to assist browsing, and page languages should be specified
    so screen readers know what language to read text in.
</p>
<blockquote>
    <p>
        For multilingual sites targeting Conformance Level A, the Working
        Group [WCAG authors] strongly encourages developers to follow <a
            href="https://www.w3.org/TR/WCAG21/#language-of-parts"
            target="_blank"
            class="tota11y-info-link">Success
        Criterion 3.1.2
        </a> as well even though that is a Level AA Success Criterion.
        <cite>
            W3C
        </cite>
    </p>
</blockquote>
<p>
    This tool does not audit for specifying the language on every part of a
    multilingual webpage which changes language as in
    WCAG &sect; 3.1.2 (Level AA).
</p>
<div class="tota11y-info-resources">
    <p>
        Resources
    </p>
    <ul>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#page-titled"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 2.4.2 (Level A)
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#language-of-page"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 3.1.1 (Level A)
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#language-of-parts"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 3.1.2 (Level AA)
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/International/questions/qa-html-language-declarations"
                    target="_blank" class="tota11y-info-link">
                Declaring the language of the page
            </a>
        </li>
    </ul>
</div>
