<p>
    This document does not have a language specified on
    its <code>&lt;html&gt;</code> element. You can specify the language like so:
</p>
<pre><code>&lt;html lang="en"&gt;</code></pre>
<p>
    It is important to specify the language of the HTML document (and around
    any text that changes language) so that assistive tools like screen readers
    know what language to read text in.
</p>
<p>
    The text for the language attribute must be a valid language code such
    as "<i>en</i>" for English, "<i>en-GB</i>" for British English, or
    "<i>fr</i>" for French.
</p>
<div class="tota11y-info-resources">
    <p>
        Learn more
    </p>
    <ul>
        <li>
            <a
                    href="https://www.w3.org/International/questions/qa-html-language-declarations"
                    target="_blank" class="tota11y-info-link">
                Declaring the language of the page
            </a>
        </li>
        <li>
            <a
                    href="https://www.w3.org/TR/WCAG21/#language-of-page"
                    target="_blank" class="tota11y-info-link">
                WCAG &sect; 3.1.1 (Level A)
            </a>
        </li>
    </ul>
</div>
