<p>
    This document does not have a page title. You can provide a title like so:
</p>
<pre><code>&lt;head&gt;
    &lt;title&gt;Descriptive title&lt;/title&gt;
&lt;/head&gt;</code></pre>
<p>
    It is important to specify a descriptive title for every Web page for Search
    Engine Optimisation and to help users navigate between pages.
</p>
<p><a
        href="https://www.w3.org/TR/WCAG21/#page-titled"
        target="_blank" class="tota11y-info-link">
    WCAG &sect; 2.4.2
</a></p>
