<div>
<div class="tota11y-info-about-title">
    <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum" target="_blank">
        <span class="tota11y-info-about-title-link">
            WCAG &sect; 1.4.3 (Level AA)
        </span>
    </a>
</div>
<p>
    Text with low contract can be hard to read for some users, particularly
    when the text is small or in direct sunlight.
</p>
<p>
    The Web Content Accessibility Guidelines give criteria for minimum text
    contrast standards, which depend on the size of the text.
</p>
<p>
    This tool cannot identify text contrast against background images or
    in images of text but these should also meet the minimum text contrast
    guidelines to ensure that your website is accessible to people with
    visual impairments.
</p>
<p>
    <a
            href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html"
            class="tota11y-info-link">
        Understanding minimum contrast
    </a>
</p>
</div>
