<p>
    Users may modify text properties like font size or text spacing
    on webpages with their own user style sheets to help them read so it is
    important to ensure all text is still legible when modified.
</p>
<p>
    As enlarged text may overflow elements this creates a problem if the
    elements are styled with <code>overflow: hidden;</code> which will hide
    overflowing text. Other elements may also obscure overflowing text.
</p>
<p>
    <label>
        Preview 200% font size:
        <input class="preview-font-size" type="checkbox">
    </label>
</p>
<p>
    <label>
        Preview modified text spacing as outlined below:
        <input class="preview-text-spacing" type="checkbox">
    </label>
</p>
<div class="tota11y-info-resources">
    <ul>
        <li>Line height to at least 1.5 times the font size</li>
        <li>Spacing following paragraphs to at least 2 times the font size</li>
        <li>Letter spacing to at least 0.12 times the font size</li>
        <li>Word spacing to at least 0.16 times the font size.</li>
    </ul>
</div>
