<div class="tota11y-info-about-title">
    <a
            href="https://www.w3.org/TR/WCAG21/#audio-control"
            target="_blank" class="tota11y-info-link">
        <span class="tota11y-info-about-title-link">
            WCAG &sect; 1.4.2 (Level A)
        </span>
    </a>
</div>
<p>
    Screen readers enable users to interact with websites through speech
    output, however this becomes difficult if the webpage is already playing
    audio. The recommended approach is to design an action that starts playing
    sound rather an action to stop sound that plays automatically.
</p>
<p>
    Note: <a
        href="https://hacks.mozilla.org/2019/02/firefox-66-to-block-automatically-playing-audible-video-and-audio/"
        target="_blank"
        class="tota11y-info-link">Firefox 66+ blocks autoplay by default
    </a>, as might some assistive tools
</p>
<p><a
        href="https://www.w3.org/WAI/WCAG21/Understanding/audio-control.html"
        target="_blank" class="tota11y-info-link">
    Understanding audio control
</a></p>
