<p>
    ARIA stands for Accessible Rich Internet Applications. ARIA is a set
    of attributes that can supplement the normal semantics of HTML elements
    and pass rich information to assistive technologies.
</p>
<p>
    ARIA landmarks can add semantic information to existing HTML elements
    such as <code>&lt;div role="search"&gt;</code> to provide richer navigation
    to assistive technologies and machines, though HTML5 elements which
    have this semantic information by default should be prefered when they
    exist. Landmarks enable users of assistive tools to skip to relevant
    content
</p>
<p><strong>
    This plugin only visualises ARIA landmarks and does not report errors.
</strong></p>
<p>
    Some advice on ARIA landmarks suggests using HTML5 semantic elements and
    redundantly specifying their role to support older browsers and assistive
    technologies. However the ARIA standard was completed by the WC3 in 2014
    and <a
            href="https://caniuse.com/#search=article"
            target="_blank" class="tota11y-info-link">
        the HTML5 semantic elements are widely supported apart from IE
    </a>.
</p>
<div class="tota11y-info-resources">
    <p>
        Resources
    </p>
    <ul>
        <li>
            <a
                    href="https://www.w3.org/TR/aria-in-html/#firstrule"
                    target="_blank" class="tota11y-info-link">
                Using ARIA
            </a>
        </li>
        <li>
            <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Content_sectioning"
                    target="_blank" class="tota11y-info-link">
                HTML5 Semantic Sectioning Elements
            </a>
        </li>
        <li>
            <a
                    href="https://a11yproject.com/posts/aria-landmark-roles/"
                    target="_blank" class="tota11y-info-link">
                Mapping between ARIA Landmark roles &amp; HTML5 elements
            </a>
        </li>
    </ul>
</div>
