<p>
    Screen readers can pull all links out of a page and present them
    in a single list but this loses all context information so the links must be
    understandable from their link text alone for this type of navigation.
</p>
<p>
    Even when users navigate through content sequentially any context which
    depends on visual presentation will be lost to a screen reader so it is
    preferable to provide link text that makes links understandable with no
    context, or at least with immediately surrounding context such as a parent
    <code>&lt;p&gt;</code> element.
</p>
<p><a
        href="https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-in-context.html"
        target="_blank" class="tota11y-info-link">
    Understanding link purpose in context
</a></p>
<p><a
        href="https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-link-only.html"
        target="_blank" class="tota11y-info-link">
    Understanding link purpose with no context
</a></p>
