<p>
    The text "<i>{{extractedText}}</i>" is unclear without context and may be
    confusing to screen readers. Consider rearranging the <code>
    &lt;a&gt;&lt;/a&gt;</code> tags or including special screen reader text
    such as <code>aria-label="detailed description"</code> or <code>
    aria-labelledby="labeling element id"</code> in the <code>
    &lt;a&gt;</code> element to provide more context.
    {{#if linkedImage}}
    You can also provide link text via the image element's alt text
    {{/if}}
</p>
<p>
    Screen readers can pull all links out of a page and present them
    in a single list but this loses all context information so the links must be
    understandable from their link text alone for this type of navigation.
</p>
<p><a
        href="https://www.w3.org/TR/WCAG21/#link-purpose-link-only"
        target="_blank" class="tota11y-info-link">
    WCAG &sect; 2.4.9 (Level AAA)
</a></p>
