<p>Screen reader wand</p>
<p>Hover over elements to view them as a screen reader would</p>
<p>
    Note that real screen readers have a concept of focus (much like keyboard
    focus) which users might navigate with by jumping to different headings,
    links or input fields rather than in a mouse like way.
</p>
<p>
    Firefox can enable Caret Browsing with F7 which is closer to the type of
    navigation a screen reader might use.
</p>
