<div class="tota11y-info-about-title">
    <a
            href="https://www.w3.org/TR/WCAG21/#info-and-relationships"
            target="_blank" class="tota11y-info-link">
        <span class="tota11y-info-about-title-link">
            WCAG &sect; 1.3.1 (Level A)
        </span>
    </a>
</div>
<p>
    Headings mark webpages with semantic information which not only orders
    content into logical sections but also allows users of assistive tools
    to jump through content.
</p>
<p>
    This tool cannot identify if elements such as styled p tags are used
    instead of headings (in which case they should be changed to headings of
    the appropriate level) but can detect when headings are used incorrectly
    such as the first heading not being <codde>h1</code> or nonconsecutive
    heading numbers.
</p>
<p>
    <a
            href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html"
            target="_blank" class="tota11y-info-link">
        Understanding Info and Relationships
    </a>
</p>
