html, body {
    margin: 0;
    padding: 0;
    color: #4d2a2a;
    font: 19px "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
    background-color: #252525;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.5rem;
}

a, a:hover {
    color: inherit;
}

section:before {
    content: "";
    border-bottom: 1px solid black;
    width: 50%;
    height: 10px;
    margin: 3rem auto;
    display: block;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex > * {
    max-width: 50%;
}

.flex .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.text, .image {
    padding: 1rem;
}

.image img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    .flex {
        flex-direction: column;
    }

    .flex > * {
        max-width: 100%;
        padding: 0;
        margin-left: inherit !important;
        margin-right: inherit !important;
    }
}

#indicator {
    position: fixed;
    bottom: 260px;
    left: -165px;
    transform: rotate(-85deg);
    font-size: 19px !important;
}

@media screen and (max-width: 1250px) {
    #indicator {
        display: none;
    }
}

form {
    display: flex;
    flex-direction: row;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

form div label, form div p {
    display: block;
    padding: 0.1rem;
    margin: 0.1rem;
}

@media screen and (max-width: 900px) {
    form {
        flex-direction: column;
    }
}

.low-contrast {
    color: lightblue;
}
